## macOS
.DS_Store

## Editors
*~
\#*
.\#*
*.swp
.idea/

## Bundler / RubyGems
.bundle/
vendor/bundle/
pkg/
*.gem

## RSpec
spec/examples.txt

## YARD / RDoc
.yardoc/
doc/
rdoc/

## Coverage
coverage/
.claude/
